*{
    margin: 0;
    padding: 0;
    font-family: 'Candara';
}
body{
    background-color: lightseagreen;
    margin: 20px;
}
h1{
    color: blue;
    background-color: lightblue;
    text-align: center;
    border: 1px solid blue;
    border-radius: 10px;
    cursor: pointer;
}
h3{
    padding-top: 15px;
    padding-bottom: 15px;
    color: whitesmoke;
}
.paragraphe{
    margin-left: 100px;
    color: white;
}